################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SudokuValidityTest/obj/Debug
/SudokuValidityTest/bin/Debug
